# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List some of the popular Data Science languages
- List some of the commonly used libraries in Data Science
- Create a table
- Use arithemtic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|JupyterLab|
|GitHub|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print("200 minutes is", hours, "hours.")

200 minutes is 3.3333333333333335 hours.

## Author
Angus W